* {
	font-family:arial;
}
body {
	margin:0px;
    padding:0;
}
.topo {
  max-width: 100%;
	height:50px;
	background-color:#353535;
	padding-right:185;
}
.topointerior {
	width:1000px;
	margin:auto;
}
.logomarca {
	margin-left:185;
	float:left;
	font-size:24px;
	line-height:50px;
	color:white;
	padding-left:3px;
}
.menu {
	float:right;
	color:white;
}
.menu ul,
.menu li {
	margin:0;
	padding:0;
	list-style:none;
	line-height:50px;
	font-size:14px;
}
.menu li {
	float:left;
	padding-left:10px;
	padding-right:10px;
	cursor:pointer;
}
.menu li:hover {
	background-color:#3480c1;
}
.banner {
	height:300px;
	background-color:#347aba;
}
.bannerinterior {
	width:1000px;
	margin:auto;
}
.banneresquerda {
    float:left;
    margin-left:185;
}
.bannerdireita {
	float:right;
	margin-right:242px;
}
.frase1 {
	font-size:48;
	color:#FFFFFF;
	margin-top:60px;
}
.frase2 {
	font-size:20px;
	color:white;
}
.botao {
	background-color:#FFC001;
	width:282px;
	height:56px;
	font-size:20px;
	text-align:center;
	line-height:56px;
	margin-top:20px;
	cursor:pointer;
	border-radius:5px;
}
.outrosprodutos {
  height:90px;
	font-size:20px;
	text-align:center;
	line-height:90px;
}
.fotos {
	margin-left:180;
}
.fotos img {
    margin-left:10px;
    margin-right:10px;
}
.rodape {
	background-color:#347aba;
	height:50px;
    text-align:center;
    line-height:50px;
    color:white;
    margin-top:40px;
}
